<%= stylesheet_link_tag 'application', media: 'all',
  'data-turbolinks-track' => true %>

<div class="link row clearfix">
  <div class="btn-group col-md-1 col-lg-1">
    <%= link_to like_link_path(@link), method: :put,
      class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
    <% end %>
    <h4 class="vote_score">
      <%= @link.get_upvotes.size - @link.get_downvotes.size %>
    </h4>
    <%= link_to dislike_link_path(@link), method: :put,
      class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
    <% end %>
  </div>

  <div class="col-md-11 col-lg-11">
    <h2>
      <%= link_to @link.title, @link.url %>
      <br>
      <small class="author">Submitted <%= time_ago_in_words(@link.created_at) %>
        by <%= @link.user.name %>
      </small>
    </h2>
  </div>
</div>
<br />

<div class="container">
  <%= simple_form_for [@link, Comment.new] do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <br>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>

  <br>
  <h4>comments</h4>
  <br>

  <div id="comments">
    <%= render :partial => @link.comments %>
  </div>
</div>
